/* static/styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('emoition-AI.webp'); /* Replace 'your-background-image.jpg' with the actual image file path */
    background-size: cover;
    background-position: center;
}

.dashboard {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding: 20px;
}

h2 {
    margin-top: 100;
    font-size: 24px;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-btn {
    background-color: #3498db;
    color: #fff;
}

.signup-btn {
    background-color: #2ecc71;
    color: #fff;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
