<!DOCTYPE html>
<html lang="en">
<head>
  <title>Emotion Detection System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('auth.dashboard') }}">ED&FR App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('auth.dashboard') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('main.chart') }}">Chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        {% if user %}
        <a class="nav-link active" tabindex="-1" aria-disabled="true">Hello! {{ user[1] }}</a> 
        {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('auth.logout') }}" tabindex="-1" aria-disabled="true">Logout</a>
        </li>
    </ul>
    </nav>
</head>
<body>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Emotion Detection System</h5>
          <p class="card-text">Click to open camera for Emotion Detection</p>
          <form method="post" action="{{ url_for('auth.run_emotion_detection_script') }}">
          <button type="submit" class="btn btn-outline-success">Open Camera</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Face Registration</h5>
          <p class="card-text">Enter your name for Face Registration</p>
          <form action="/face_register" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <input class="btn btn-outline-success" type="submit" value="Submit">
        </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>